{% extends 'base.html' %}

{% load static %}

{% block style %}
<style>
    * {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    body {
        margin: 0px;
        padding: 0px;
        /* height: 100vh; */
        font-family: system-ui;

    }

    .main {

        width: 796px;
        height: 1123px;
        margin: auto;
        box-shadow: 5px 7px 15px 5px #3d3f4238;
        background-color: #fff;
    }


    .profile {
        width: 130px;
        height: 130px;
        margin-top: 20px;
        float: left;
    }

    .img {
        height: 16px;
        width: 16px;
        margin-right: 6px;
    }

    .box {
        /* background-color: rgb(85, 228, 228); */
        width: 690px;
        height: 1123px;
        margin-left: 55px;


    }



    .name {
        font-size: 28px;
        font-weight: bold;
        /* margin-bottom: 8px; */
        margin-top: 12px;
        color: rgb(31, 110, 175);
    }

    .ptop {
        margin-top: -6px;

        /* margin-top: 4px; */
        font-size: 12px;
        margin-bottom: 8px;
    }


    .d1 {
        float: left;
        margin-left: -30px;
    }

    .d2 {
        float: right;
        margin-right: -45px;
    }

    hr {
        width: 40vw auto;
        /* height: ; */
border-bottom:3px solid rgb(31, 110, 175) ;
margin-top: -4px;

    }

    h3 {
margin-top: 20px;
        /* background-color: rgb(209, 212, 211); */
        font-size: 20px;
        font-weight: 700;
        color: rgb(31, 110, 175);


    }
   


    .db {
        float: right;
        margin-top: 5px;

        margin-right: 160px;

        width: 10vw;
        height: 6vh;
        background-color: black;
        color: #fff;
        border: 2px solid white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: large;
    }
</style>
{% endblock style %}


{% block body %}

<body>
    <button onclick="myfun('pt')" class="db">Download Now</button>
    <div id="pt">
        <div class="main">
            <div class="box">
                <div class="row">
                    <div class="col-3">
                        {% if pdata.image %}

                        <img src="{{pdata.image.url}}" alt="" class="profile">
                        {% else %}
                        <img src="" alt="" class="profile">
                        {% endif %}
                    </div>
                    <div class="col-7">

                        <p class="name">{{pdata.candidate_name}}</p>
                        <div class="d1">
                            <p class="ptop"><img src="{% static 'img/location.png' %}" alt=""
                                    class="img">{{pdata.address}}

                            </p>
                            <p class="ptop"><img src="{% static 'img/call1.jpg' %}" alt="" class="img">
                                {{pdata.mobile}}
                            </p>
                            <p class="ptop"><img src="{% static 'img/mail.png' %}" alt=""
                                    class="img">{{pdata.candidate_email}}</p>
                            {% if pdata.my_website %} 

                            <p class="ptop"><img src="{% static 'img/myweb.png' %}" alt="" class="img">
                                {{pdata.my_website}}
                            </p>
                            {% endif %}

                        </div>
                        <div class="d2">
                            {% if pdata.linkedin_profile %} 

                            <p class="ptop"><img src="{% static 'img/linked in.png' %}" alt=""
                                    class="img">{{pdata.linkedin_profile}}
                            </p>
                            {% endif %}

                            {% if pdata.github_profile %} 

                            <p class="ptop"><img src="{% static 'img/git.png' %}" alt="" class="img">
                                {{pdata.github_profile}}</p>
                            {% endif %}

                            {% if pdata.facebook_profile %} 

                            <p class="ptop"><img src="{% static 'img/facebook.png' %}" alt="" class="img">
                                {{pdata.facebook_profile}}
                            </p>
                            {% endif %}

                            {% if pdata.twitter_profile %} 

                            <p class="ptop"><img src="{% static 'img/twitter.png' %}" alt="" class="img">
                                {{pdata.twitter_profile}}</p>
                            {% endif %}

                        </div>

                    </div>
                </div>

                <div class="row1">
                    <div>
                        <h3>Objective</h3>
                        <hr>

                        <p class="ptop">{{pdata.objective}}</p>
                    </div>

                    <div>
                        <h3>More Information</h3>
                        <hr>

                        <p class="ptop"><b>Date of birth</b>- {{pdata.date_of_birth}}</p>
                        <p class="ptop"><b>Marital Status</b> - {{pdata.marital_status}}</p>
                        <p class="ptop"><b>Nationality </b> - {{pdata.nationality}}</p>
                        <p class="ptop"><b>Language Known </b> - {{pdata.language_known}}</p>
                        <p class="ptop"><b>Intrest </b> - {{pdata.interest}}</p>

                    </div>
                    {% if edata %}
                    <div>
                        <h3>Education </h3>
                        <hr>

                        {% for i in edata %}
                        <p class="ptop"><b>{{i.education_name}} </b> - {{i.board_or_university}} - (
                            {{i.passing_year}} ) - {{i.percentage_or_grade}}</p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% if exdata %}
                    <div>
                        <h3>Experience</h3>
                        <hr>

                        {% for i in exdata %}
                        <p class="ptop"> <b>{{i.company_name}}</b> -{{i.start_date}}-{{i.end_date}}
                        </p>
                        <p class="ptop">{{i.designation}} - {{i.description}}</p>
                        {% endfor %}

                    </div>
                    {% endif %}
                    {% if tdata %}
                    <div>
                        <h3>Training</h3>
                        <hr>
                            {% for i in tdata %}
                            <p class="ptop"><span class="span1"><b>{{i.company_or_institute_name}}</b></span>
                            </p>
                            <p class="ptop"><span class="span1"><b>{{i.learn_skills}}</b> in  {{i.duration_in_month}} Months</span>
                            </p>
                            <p class="ptop"><span class="span1">{{i.description}}</span></p>
                            {% endfor %}
                     
                    </div>
                    {% endif %}
                    {% if prdata %}
                    <div>
                        <h3>Project</h3>
                        <hr>

                        {% for i in prdata %}
                        <p class="ptop"><b>{{i.project_title}}</b> - {{i.skills_apply}}- Duration - {{i.duration_in_months}} Month</p>
                        <p class="ptop">{{i.description}}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if pdata %}
                    <div>
                        <h3>Skills </h3>
                        <hr>

                        <p class="ptop">{{ pdata.skills}}</p>

                    </div>
                    {% endif %}
                    {% if adata %}
                    <div>
                        <h3>Achivements </h3>
                        <hr>

                        {% for i in adata %}
                        <p class="ptop">{{i.title }} - {{i.description}}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>




    <script type="text/javascript">

        function myfun(pa) {
            var bk = document.body.innerHTML;
            var dv = document.getElementById(pa).innerHTML;
            document.body.innerHTML = dv;
            window.print();
        }
    </script>
    {% endblock body %}